<div id="response_{{ index }}" class="tab-pane">
    <h5>Informations</h5>
    <table>
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ response.statusCode }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ response.reasonPhrase }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Headers</h5>
    <table>
        <tbody>
        {% for header,value in response.headers %}
            <tr>
                <th>{{ header }}</th>
                <td>{{ value|join('<strong>, </strong>') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if phraseanet is defined and phraseanet | length > 0 %}
    <h5>Phraseanet Metadata</h5>
    <table>
        <tbody>
        {% for key,value in phraseanet.metadata %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value|join('<strong>, </strong>') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if phraseanet.pagination is defined %}
    <h5>Phraseanet Results</h5>
    <table>
        <tbody>
        {% for key,value in phraseanet.pagination %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value|join('<strong>, </strong>') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

    <h5>Content</h5>
    {{ dump(responseContent) }}
</div>
